<!--header-->
<header>
    <h1>

        <!--<a href="__APP__/device/fansChart.html"><img src="https://wxsmj.wanjiejixie.com/Public/images/admin_logo.png"/></a>-->
   <!---->
    </h1>
    <ul class="rt_nav">
        <li class="user" data-toggle="dropdown">
            <if condition="">
        		<img src="" alt="" class="logo">
        	<else/>
        		<img src="https://wxsmj.wanjiejixie.com/Public/index/images/warn-error-img.png" alt="" class="logo">
        	</if>
            <span class="name dropdown-toggle">
            	 管理员

            </span>
        </li>
        <ul class="dropdown-menu" id="dropdown">
            <!-- User image -->
            <div class="user-header">



	        		<img src="https://wxsmj.wanjiejixie.com/Public/index/images/warn-error-img.png" class="img-circle" alt="">

                <p>

                </p>
                <div class="btns">
                    <!--<a href="__APP__/Admin/admin_change.html?id={$Think.session.adminId}" class="btn editPsw">-->
                        <!--<i class="fa fa-sign-out"></i>-->
                        <!--修改密码</a>-->
                    <a href="/index.php/admin/login/quit.html" class="btn">
                        <i class="fa fa-sign-out"></i>
                        注销</a>
                </div>
            </div>
        </ul>
    </ul>
    <script src="http://wxsmj.wanjiejixie.com/Public/js/bootstrap.min.js"></script>
</header>