<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{$title}</title>
  <meta name="author" content="DeathGhost" />
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css">
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/skins/icheck.css">
 


  <!--[if lt IE 9]>
  <script src="__ROOT__/Public/js/html5.js"></script>
  <![endif]-->
  <script src="__ROOT__/Public/js/jquery.js"></script>
  <script src="__ROOT__/Public/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="__ROOT__/Public/My97DatePicker/WdatePicker.js"></script>
  <!-- <script src="__ROOT__/Public/My97DatePicker/skin/WdatePicker.js"></script> -->
  <script src="__ROOT__/Public/js/icheck.js"></script>
  <script src="__ROOT__/Public/js/jquery.verify.js"></script>
  <script src="__ROOT__/Public/layer/mobile/need/layer.css"></script>
  <script src="__ROOT__/Public/layer/layer.js"></script>
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/admin/add-style.css">

</head>

<body>
  <!--header-->
  <include file="Public:header" />
  <!--aside nav-->
  <!--aside nav-->
  <include file="Public:menu" />


  <section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content new_page new_add_edit" id="verifyCheck">
      <div class="page_title">
        <h2 class="fl">新增权限组</h2>
        <a href="__APP__/Auth/roleList.html"  class="fr gradient-btn back-list"> <img src="/Public/admin/return-list.png" class="mCS_img_loaded">&nbsp;返回列表</a>
      </div>
      <div class="new-box">
        <form method="post" class="form-x" action="{:U('/Auth/addRole')}" onsubmit="return checked()">
          <section>
            <ul class="ulColumn2 row1">
              <li>
                <span class="item_name" style="width:120px;">权限组名称：</span>
                <input type="text" class="textbox textbox_225 required" data-valid="isNonEmpty" name="title" data-error="不能为空" placeholder="权限组名称"
                />
                <label class="focus valid "></label>
              </li>
              <li id="status">
                <span class="item_name" style="width:120px;">状态:</span>
                <select class="textbox" name="status">
                  <option>请选择</option>
                  <option value="1">可用</option>
                  <option value="0">禁用</option>
                </select>
               <!--  <input type="radio" name="status" value="1" id="status1"> 可用
                <input type="radio" name="status" value="0" id="status0"> 禁用 -->
              </li>
              <li id="rules" class="new_checkbox">
                <span class="item_name" style="width:120px;">适用规则范围：</span>

                <input type="checkbox" name="rules[]" value="0" id="allStore">
                  <label for="allStore" id="all">
                     全部规则
                  </label>
                  <volist name="rules" id="a">
                    <input type="checkbox" name="rules[]" value="{$a.id}" id="{$a.id}">
                    <label for="{$a.id}">
                       {$a.title}
                    </label>
                  </volist>

              </li>
              <li>
                <span class="item_name" style="width:120px;"></span>
                <input id="submit" type="submit" class="gradient-btn submitBtn" value="提交" />
              </li>
            </ul>
          </section>
        </form>
      </div>
    </div>
  </section>
  <script>

    function checked() {
      if (!verifyCheck._click()) return false;
      if (!$("#rules input[type='checkbox']:checked").length > 0) {
        layer.msg('请选择规则范围！');
        return false;
      }
    }

    $(document).ready(function () {
      //复选框样式
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
        increaseArea: '20%' // optional
      });
      $("input[name='rules[]']").iCheck({ checkboxClass: 'icheckbox_square-green', radioClass: 'iradio_square-green', increaseArea: '20%' });
      //全选的添加
      $('#allStore').on('ifChecked', function (event) {
        $("input[name='rules[]']").iCheck('check');
      });
      //全选的去除
      $('#allStore').on('ifUnchecked', function (event) {
        $("input[name='rules[]']").iCheck('uncheck');
      });
      $(".content").delegate("a[href='top']", "click", function (e) {
        e.preventDefault();
        $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
      });
     
    })
  </script>
</body>

</html>