<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,208}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{770,305},{206,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1667,431},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{1667,389},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{582,210}</string>
                <key>spriteSourceSize</key>
                <string>{600,210}</string>
                <key>textureRect</key>
                <string>{{1,241},{582,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1312,31},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1269,294},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1683,94},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1683,151},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,42}</string>
                <key>spriteSourceSize</key>
                <string>{102,42}</string>
                <key>textureRect</key>
                <string>{{583,469},{102,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,28}</string>
                <key>spriteSourceSize</key>
                <string>{518,28}</string>
                <key>textureRect</key>
                <string>{{910,1},{518,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,98}</string>
                <key>spriteSourceSize</key>
                <string>{33,98}</string>
                <key>textureRect</key>
                <string>{{483,453},{33,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,91}</string>
                <key>spriteSourceSize</key>
                <string>{279,91}</string>
                <key>textureRect</key>
                <string>{{1430,1},{279,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,27}</string>
                <key>spriteSourceSize</key>
                <string>{318,27}</string>
                <key>textureRect</key>
                <string>{{1,453},{318,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1701,431},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1565,286},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{445,485},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,32}</string>
                <key>spriteSourceSize</key>
                <string>{131,32}</string>
                <key>textureRect</key>
                <string>{{1053,439},{131,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,32}</string>
                <key>spriteSourceSize</key>
                <string>{65,32}</string>
                <key>textureRect</key>
                <string>{{1539,474},{65,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{1408,140},{67,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1417,209},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{400,98}</string>
                <key>spriteSourceSize</key>
                <string>{400,100}</string>
                <key>textureRect</key>
                <string>{{910,31},{400,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,71}</string>
                <key>spriteSourceSize</key>
                <string>{191,71}</string>
                <key>textureRect</key>
                <string>{{980,299},{191,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_bottom_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,152}</string>
                <key>spriteSourceSize</key>
                <string>{907,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{907,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_btn_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,75}</string>
                <key>spriteSourceSize</key>
                <string>{258,75}</string>
                <key>textureRect</key>
                <string>{{910,222},{258,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_btn_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1520,94},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,84}</string>
                <key>spriteSourceSize</key>
                <string>{750,84}</string>
                <key>textureRect</key>
                <string>{{1,155},{750,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{88,71}</string>
                <key>textureRect</key>
                <string>{{1269,386},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{770,155},{148,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xianqizhi_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,70}</string>
                <key>spriteSourceSize</key>
                <string>{245,70}</string>
                <key>textureRect</key>
                <string>{{1170,222},{245,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{1359,395},{62,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play_vedio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1606,94},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,89}</string>
                <key>spriteSourceSize</key>
                <string>{386,89}</string>
                <key>textureRect</key>
                <string>{{910,131},{386,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{1447,466},{45,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1298,140},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{28,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1,482},{28,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1287,459},{52,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1477,304},{46,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{42,82}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1481,260},{42,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,80}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1404,31},{24,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1053,473},{38,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1499,352},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1501,394},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1549,394},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1201,459},{52,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1517,180},{32,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{44,88}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1430,94},{44,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1606,171},{46,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{40,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1605,261},{40,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{28,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{87,482},{28,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{26,76}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{165,482},{26,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,58}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1679,369},{28,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1424,395},{24,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{317,485},{24,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{30,58}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1680,337},{30,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{30,60}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1635,393},{30,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{26,88}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1711,1},{26,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,68}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{980,492},{18,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1606,303},{40,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{40,74}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1605,219},{40,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1567,214},{36,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,70}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1491,140},{24,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1429,359},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,72}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{243,482},{26,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1133,473},{38,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1573,345},{46,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1667,399},{30,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{42,80}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{687,469},{42,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1680,303},{32,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{42,66}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1591,393},{42,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{18,62}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1186,439},{18,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1053,299},{70,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1125,299},{70,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,138}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1197,294},{70,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1350,123},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{24,62}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{381,485},{24,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1481,214},{44,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,84}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1429,273},{46,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{52,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,138}</string>
                <key>textureRect</key>
                <string>{{1367,459},{52,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_baobao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,40}</string>
                <key>spriteSourceSize</key>
                <string>{52,40}</string>
                <key>textureRect</key>
                <string>{{1683,258},{52,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chuang_guan.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{1495,472},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{1606,461},{29,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_kou_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,60}</string>
                <key>spriteSourceSize</key>
                <string>{20,60}</string>
                <key>textureRect</key>
                <string>{{472,488},{20,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_li_he.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{1639,345},{42,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nv_shen.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{1682,208},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wo_de.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,49}</string>
                <key>spriteSourceSize</key>
                <string>{69,49}</string>
                <key>textureRect</key>
                <string>{{1450,395},{69,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,183}</string>
                <key>spriteSourceSize</key>
                <string>{226,183}</string>
                <key>textureRect</key>
                <string>{{585,241},{226,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kouhongyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,66}</string>
                <key>spriteSourceSize</key>
                <string>{99,66}</string>
                <key>textureRect</key>
                <string>{{1361,294},{99,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lb_kou_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,30}</string>
                <key>spriteSourceSize</key>
                <string>{160,30}</string>
                <key>textureRect</key>
                <string>{{321,453},{160,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>resource.png</string>
            <key>size</key>
            <string>{1739,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6737591bf0c28eb544b2e9f863101e3:d854a229e304300cb59a514d96770991:d04a1acbd898a57d097666c8c430eae1$</string>
            <key>textureFileName</key>
            <string>resource.png</string>
        </dict>
    </dict>
</plist>
