<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>{$title}</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="http://wxsmj.wanjiejixie.com/Public/css/bootstrapSwitch.css">
    <link rel="stylesheet" type="text/css" href="http://wxsmj.wanjiejixie.com/Public/css/style.css">
    <!--<link href="http://wxsmj.wanjiejixie.com/Public/layer/mobile/need/layer.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
    <script src="http://wxsmj.wanjiejixie.com/Public/js/html5.js"></script>
    <![endif]-->
    <script src="http://wxsmj.wanjiejixie.com/Public/js/jquery.js"></script>
    <script src="http://wxsmj.wanjiejixie.com/Public/js/bootstrapSwitch.js"></script>
    <script src="http://wxsmj.wanjiejixie.com/Public/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="http://wxsmj.wanjiejixie.com/Public/layer/mobile/need/layer.css"></script>
    <script src="http://wxsmj.wanjiejixie.com/Public/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="http://wxsmj.wanjiejixie.com/Public/layui/css/layui.css">
    <script src="http://wxsmj.wanjiejixie.com/Public/layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="http://wxsmj.wanjiejixie.com/Public/admin/add-style.css"> 
    <link rel="stylesheet" type="text/css" href="http://wxsmj.wanjiejixie.com/Public/admin/css/style.css"> 
    <style type="text/css">
        .storeState .layui-input {
            border-radius: 5px;
            height: 30px;
            text-align: center;
        }
        .storeState .layui-form-select{
            width: 100px;
            margin: 0 auto;
        }
    </style>

</head>

<body>
<!--header-->
{include file="public/header" /}
<!--aside nav-->
<!--aside nav-->
<!--<include file="Public:menu" />-->
{include file="public/menu" /}


<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content new_page new_list">
        <div class="page_title">
            <h2 class="fl">概率列表</h2>

            <div class="fr search-cnt layui-form"> 

                <!--<if condition="in_array(11, $ruleArr)">-->
                    <!--<a href="__APP__/Device/device_add.html" class="gradient-btn add-shop">-->
                        <!--<img src="http://wxsmj.wanjiejixie.com/Public/admin/add-info.png">&nbsp; 添加店铺</a>-->
                <!--</if>-->
            </div>            
        </div>
        <div class="new-box">
            <table class="table">
            <tr class="lead">
                <!--<th>ID</th>-->


                <th>名称</th>

				<th>概率</th>



                <th width="95px;">
                    添加时间
                </th>
                <th width="90px;">操作</th>
            </tr>
            {volist name="rate" id="a"}
                <tr>
                    <!--<td class="center">{$a.id}</td>-->
                    <td class="center">{$a.name}</td>
                    <td class="center beyond">{$a.rate}</td>
                    <td class="center">{$a.addtime|date='Y-m-d H:i:s',###}</td>



                    <td class="center">


                                <li>
                                    <a href="/index.php/admin/User/rate?id={$a.id}" title="编辑" class="">编辑</a>
                                </li>

                    </td>
                </tr>
            {/volist}
        </table>
         <aside class="paging">

        </aside>
        </div>
        
    </div>
</section>


<script type="text/javascript">
    $(function () {

        var form,data='',getdeviceid = $("#getdeviceid").val();

        layui.use('form', function () {
            form = layui.form;

            $.ajax({
                url: " api/api_device_list ",
                success: function (res) {
                    var arr = JSON.parse(res);
                    // console.log(arr)
                    for (var i = 0; i < arr.length; i++) {
                        if(getdeviceid == arr[i].deviceid){
                          data += '<option value="'+ arr[i].deviceid +'" selected>'+ arr[i].name +'</option>'  
                        }else{
                          data += '<option value="'+ arr[i].deviceid +'">'+ arr[i].name +'</option>'
                        }
                    } 
                    $("select[name='deviceid']").append(data);

                    form.render('select')
                }
            })


            form.on('select(discount)', function (data) {
                // console.log(data.elem.id)
                $.ajax({
                    url: "__APP__/api/device_for_free",
                    type: "POST",
                    dataType: "json",
                    data: {
                        deviceid: data.elem.id,
                        state: data.value
                    },
                    success: function (res) {
                        console.log(res)
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });
        });
       
    });


</script>
</body>

</html>